@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Link 만들기*@

@*
    Contact Page 4 방식을 가장 많이 사용함
    Page3는 옛날방식
    Page1은 고정방식이라 바꾸면 안 돌아감 / 나머지는 경로를 바꿔도 유동적으로 바꿔준다
*@

<a href="/Home/Contact">Contact Page 1</a>
<br />
@Html.ActionLink("Contact Page 2", "Contact", "Home")
<br />
<a href="@Url.Action("Contact", "Home")">Contact Page 3</a>
<br />
<a asp-controller="Home" asp-action="Contact">Contact Page 4</a>