<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color:skyblue">_</div>
        @RenderBody()
        <div>gubean9@gmail.com</div>
    </div>
</body>
</html>
