
@{
    ViewData["Title"] = "BMI";
    ViewData["Option"] = new List<string>
    {
        "여자", "남자"
    };
}

<h1>적정 몸무게 구하기</h1>

<h3>당신의 키를 입력해주세요 : <input type="text"/></h3>
<h3>당신의 성별을 입력해주세요 : <input type="text"/></h3>
<button type="button">확인</button>