@*@model ModelBindingTest01.Models.Student*@
@*@model Student // 이렇게도 가능*@
@model Board

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div>
    <form method="post" action="/">
        ID : <input asp-for="Id" class="form-control" value="1"/>
        <br />
        이름 : <input asp-for="Name" class="form-control" value="홍길동"/>
        <br />
        전화번호 : <input asp-for=Hp class="form-control" value="010-1111-1111"/>
        <br />
        <input type="Submit" value="Submit" class="btn btn-outline-p"/>
    </form>
</div>*@

<div>
    <form method="post" action="/">
        번호 : <input asp-for="No" class="form-control" value="1"/> <br />
        제목 : <input asp-for="Title" class="form-control" value="비가 오면 열리는 상점" /> <br />
        목차 : <input asp-for="Content" class="form-control" value="괴소문" /> <br />
        작가 : <input asp-for="Author" class="form-control" value="유영광" /> <br />
        <input type="Submit" value="Submit" class="btn btn-outline-primary"/>
    </form>
</div>