@model SmartFactory_MinProject.Models.Codeboard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div>
                <div style="float:right">
                    <input type="submit" value="Save" class="btn btn-outline-primary" id="saveButton">
                    <a href="javascript:history.back()" class="btn btn-outline-dark">Cancel</a>
                </div>
                <h4 class="float-left">Codeboard</h4>
                <hr />
            </div>

            <div class="form-group col-md-5" style="float: right;">
                <div class="input-group">
                    <div class="input-group-text">Name</div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-text">Title</div>
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-text">Contents</div>
                    <textarea rows="15" asp-for="Contents" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Contents" class="text-danger"></span>
                <br />
                <button type="button" class="btn btn-outline-primary" onclick="addCodeBox()">Add Code Box</button>
            </div>
        </form>
    </div>
</div>

@*
@section Scripts {
    <script>
        // Save 버튼 클릭 시 폼 제출
        document.getElementById("saveButton").addEventListener("click", function () {
            document.querySelector("form").submit();
        });
    </script>
}
*@

